body {
  background-color: black;
  color: white;
  font-family: 'Segoe UI', sans-serif;
  padding: 2rem;
  text-align: center;
  margin: 0;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  padding: 20px 30px;
  z-index: 100;
}

header img {
  height: 100px;
  width: auto;
}

input, select {
  padding: 0.5rem;
  margin: 0.5rem;
  border-radius: 10px;
  border: none;
  width: 250px;
  font-size: 1rem;
}

button {
  background: linear-gradient(to right, #ec4899, #3b82f6);
  color: white;
  font-weight: bold;
  padding: 1rem 2rem;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 1.2rem;
  margin-top: 1rem;
  transition: all 0.3s ease;
}

button:hover {
  transform: scale(1.05);
}

#lobbyCode {
  margin-top: 20px;
  font-size: 1.1rem;
  color: #0ff;
}
